:target ,:target>h1 {
  background-color: #ffcece;
  animation: highlight 0.5s ease;
  animation-iteration-count: 3;
}

@keyframes highlight {
  0% {
    background-color: #ffcece;
  }

  100% {
    background-color: transparent;
  }
}